<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659622886805-jqngp7fqketls7aijq7qf7p773d4cq1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659622886805-jqngp7fqketls7aijq7qf7p773d4cq1r</string>
	<key>API_KEY</key>
	<string>AIzaSyBUMX6R20I_oLLxbp4b9LGnA6lDDA5dl3A</string>
	<key>GCM_SENDER_ID</key>
	<string>659622886805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myFirstCoApp</string>
	<key>PROJECT_ID</key>
	<string>my-first-app-466bd</string>
	<key>STORAGE_BUCKET</key>
	<string>my-first-app-466bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659622886805:ios:1828857f9d6b4ee37aca9c</string>
</dict>
</plist>